
/* Small devices (phones and pocket devices, 374 and up) */
@media screen and (max-width:374px)  {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .alert-info {
        background-color: lightblue;
        border: darkgrey;
        border-style: solid;
        border-width: 2px;
        text-decoration: none;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    a {
        text-decoration: none;
    }

    img {
        margin: 1em;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        flex-grow: 1;
    }
    li {
        list-style: none;
        text-decoration: underline;
        padding: 1em;
        background: darkgrey;
        margin: .5em;
        flex-grow: 1;
    }
    nav {
        width: 100%;
    }
}

/*!* Medium devices (tablets, 768px and up) *!*/
/*@media screen and (min-width:768px) {*/
/*    body {*/
/*        background-color: red;*/
/*    }*/
/*}*/

/*!* Large devices (desktops, 992px and up) *!*/
/*@media screen and (min-width:992px) {*/
/*    body {*/
/*        background-color: gold;*/
/*    }*/
/*}*/

/*!* Extra large devices (large desktops, 1200px and up) *!*/
/*@media screen and (min-width:1200px) {*/
/*    body {*/
/*        background-color: pink;*/
/*    }*/
/*}*/
