
/* Small devices (phones and pocket devices, 374 and up) */
/*@media screen and (max-width:700px)  {*/
/*    body {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        flex-direction: column;*/
/*    }*/

/* screen sizes between 960px and 1200px */
@media screen and (min-width:500px) and (max-width:1200px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

    .alert-info {
        background-color: lightblue;
        border: darkgrey;
        border-style: solid;
        border-width: 2px;
        text-decoration: none;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 1em;
        padding-bottom: 1em;
        align-items: center;
    }

    a {
        text-decoration: none;
    }

    img {
        content: url("https://via.placeholder.com/339x224?")
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        flex-grow: 1;
        padding: 0;
    }
    li {
        list-style: none;
        text-decoration: underline;
        padding: 1em;
        background: darkgrey;
        margin: .5em;
        width:calc(100% - 2em);
        justify-content: center;
        text-align: center;
    }
    nav {
        width: 100%;
    }
}

div{
    display: flex;
    justify-content: center;
    width: calc(100% - .25em)
}

section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

p{
    float: left;
}



/*
*/
/*!* Medium devices (tablets, 768px and up) *!*/
/*@media screen and (min-width:768px) {*/
/*    body {*/
/*        background-color: red;*/
/*    }*/
/*}*/

/*!* Large devices (desktops, 992px and up) *!*/
/*@media screen and (min-width:992px) {*/
/*    body {*/
/*        background-color: gold;*/
/*    }*/
/*}*/

/*!* Extra large devices (large desktops, 1200px and up) *!*/
/*@media screen and (min-width:1200px) {*/
/*    body {*/
/*        background-color: pink;*/
/*    }*/
/*}*/
